@import "reset";


body {
    background-image: url("https://www.santabanta.com/images/wallpapers/food/pizza-slice-wallpaper-1024-768-0.jpg");
    background-size: cover;
    background-position: center;

}
form {
    width:40%;
    background-color: pink;
}