@import "reset";


body {
    background-image: url("https://www.santabanta.com/images/wallpapers/food/pizza-slice-wallpaper-1024-768-0.jpg");
    background-size: cover;
    background-position: center;

}
form {
    width:30%;
    //background: linear-gradient(90deg, rgba(250,248,248,1) 0%, rgba(222,232,207,1) 100%);
    background-color: rgba(238, 225, 227, 0.9);
    margin-top: 10%;
    margin-left: 40%;
}